<form asp-controller="Usuario" asp-action="LogoffPost">
    <div class="card" style="width: 18rem;">     
        <div class="card-body">
            <h5 class="card-title">Sair do Sistema</h5>
            <p class="card-text">Voce realmente deseja sair do sistema?.</p>
            <input type="submit"  value="Sim" class="btn btn-primary"/>
        </div>
    </div>
</form>